@import "tailwindcss";
@plugin "daisyui";

input::placeholder {
  color: grey;
  font-size: small;
}

input {
  color: gray;
}

button {
  cursor: pointer;
}

.active {
  color: rgba(0, 47, 255, 0.897);
}
